.courses{
    &__sort{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }
    &__card{
        display: flex;
        margin-top: 3rem;
        @include respond(phone) {
            display: block;
            padding: 0 1.5rem;
          }
          &-status{
              display: inline-block;
              background-color: $color-primary-dark;
              padding: .7rem 2rem;
              color: $color-white;
              margin-top: 1.5rem;
              font-size: 1.5rem;
              line-height: 2.5rem;
              &--icon::before{
                  font-size: 2.5rem;
              }
          }
          &-dateBox{
              display: flex;
              justify-content: space-between;
              margin-bottom: 3rem;
              @include respond(phone) {
                justify-content: space-evenly;
               
              }
        }
          &-date{
              text-align: center;
              flex-basis: 100%;
              &:not(:last-child){
                @include respond(phone) {
                margin-right: 3rem;
                }
              }
             
             
            &--icon::before{
                color: $color-primary-dark;
                font-size: 5rem;
                @include respond(phone) {
                   font-size: 3rem;
                   
                  }
            }
            &--content{
                font-size: 1.6rem;
                color: $color-gray;
                margin-top: 2.5rem;
                @include respond(phone) {
                    font-size: 1rem;
                    margin-top:0;
                  }

            }
          }
        &-img{
            flex-basis: 41%;
            background-image: url(../../images/event.png);
            border: 1px solid $color-gray;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            // background-size: 320px; 
            @include respond(phone) {
                padding: 5rem;
                display: none;
              }
        }
        &-body{
            display: flex;
            align-items: end;
            @include respond(phone) {
                display: block;
                position: relative;
                border: 1px solid;
               
              }
              &-price{
                font-size: 1.5rem;
                @include respond(phone) {
                    padding:1.5rem;
                    
                    
                  }
              }
            &--text{
                color: $color-gray;
                font-size: 1.5rem;
                padding: 3rem;
                @include respond(phone) {
                    padding:1.5rem;
                  }
                  &-content{
                    @include respond(phone) {
                        margin-bottom:3rem;
                      }
                  }
                  
                 
            }
            &--price{
                flex-basis: 61%;
                text-align: center;
                color: $color-white;
                padding: 3rem; 
                background-color: $color-primary-dark;
                border-radius: 50% 50% 0 0 / 100% 100% 0 0;
                overflow: hidden;
                font-size: 2rem;
                @include respond(phone) {
                    display: block;
                    padding: 1rem 1.5rem;
                    background-color: unset;
                    text-align: right;
                    border-radius: unset;
                    color: $color-gray;
                  }
            }
            &--event{
                flex-basis: 72%;
                padding: 3rem;
                @include respond(phone) {
                   position: absolute;
                   bottom:0;
                   right:0;
                  }
            }
           
        }
    }
}