
.loader-box{
    display: none;
    position:absolute;
    right:25rem;
    bottom:0;
    left:2rem;
    top:6rem;
    background-color: $color-white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding:3rem;
    overflow-y: scroll;
    height: 15rem;
    z-index: 10;
    
   
}


.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $color-primary;
    border-bottom: 16px solid $color-primary-dark;
    width: 8rem;
    height: 8rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    
   
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }