.myBtn{
    padding: .8rem 3rem;
    font-size: 1.3rem;
    line-height: 1.2rem;
    border: 1px solid ;
    border-radius: 1rem;
    background-color: transparent;
    color: $color-primary-dark;
    cursor: pointer;
    transition: all .3s;
    box-sizing: border-box;
    text-align: center;
    @include respond(phone) {
        padding: .8rem 2rem;
      }
      &_white{
        padding: .8rem 3rem;
        font-size: 1.3rem;
        line-height: 1.3rem;
        border: 1px solid $color-white;
        border-radius: 1rem;
        background-color: $color-white;
        color: $color-primary-dark;
        cursor: pointer;
        transition: all .3s;
        box-sizing: border-box;
        text-align: center;
      }
    &:hover{
        color: $color-white;
        background-color: $color-primary-dark;
        border:1px solid transparent;
    }
    &:focus{
        outline: none;
    }
    &__add{
        border-radius: 50%;
        background-color: $color-primary-dark;
        color: $color-white;
        border: unset;
        cursor: pointer;
        width: 6rem;
        height: 6rem;
    }
    &--primaryDark{
        background-color: $color-primary-dark;
        border: 1px solid transparent;
        color: $color-white;
        @include respond(tab-port) {
            width: 100% ;
            
          }

    }  
    &--gray{
        
        color: $color-gray-dark;
    }
    &-white{
        color: $color-white;
        &:hover{
            background-color: $color-white;
            color: $color-primary-dark;
        }
    }  
    &--white{
        background-color: $color-white;
        border: 1px solid transparent;
        color: $color-primary-dark;
    } 
    &--black{
        background-color: rgba($color: #000000, $alpha: .7);
        border: 1px solid transparent;
        color: $color-gray-dark;
    }  
    &--icon{
        padding-right: 1rem;
       
        &::before{
            font-size: 2rem!important;
        }
    } 
    &__accordion{
        color: $color-white;
        font-size: 1.4rem;
        background-color: $color-primary-dark;
        width: 100%;
        border-radius: 1rem;
        text-align: left;
        font-family: Roboto-r;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--faq{
            font-size: 1.8rem;
            background-color: $color-gray-light-1;
            color: $color-gray-dark;
            &-active{
                color: $color-white;
                background-color: $color-primary-dark;
            }   
        }
        &:focus{
            border: unset;
            box-shadow: unset;
        }
        &--icon{
            display: flex;
            &-faq{
                color: $color-primary-dark;
            }
            
        }
    }  
}

.btn__group{
    display: flex;
    justify-content: space-between;
    & > :first-child {
        margin-right: 1.5rem;
      }
}

.search-btn{
  
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid ;
    background-color: $color-gray;
    border-color: $color-gray;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;

    &:hover{
        background-color: $color-primary-dark;
        border-color: $color-primary-dark;
    }
    &__criterias{
        color: $color-white;
        font-size: 1.5rem;
        background-color: $color-primary-dark;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

  }

  .forMyResumeList{
      margin-right: 1.5rem;
  }